# Copyright (c) 2016, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on late-fs
    # set read-ahead to 2048
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/dm-1/queue/read_ahead_kb 2048

    # setup schedtune for faster boot 
    write /dev/stune/schedtune.boost 100
    write /dev/stune/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 0
    write /dev/stune/top-app/schedtune.prefer_idle 0
    write /dev/stune/foreground/schedtune.boost 0
    write /dev/stune/foreground/schedtune.prefer_idle 0
    write /dev/stune/background/schedtune.boost 0
    write /dev/stune/background/schedtune.prefer_idle 0
    write /dev/stune/rt/schedtune.boost 0
    write /dev/stune/rt/schedtune.prefer_idle 0

on init
    write /sys/module/lpm_levels/parameters/sleep_disabled "y"

on boot
    # update foreground and background cpusets
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # add a cpuset for the camera daemon
    # we want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

on charger
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    write /sys/module/lpm_levels/parameters/sleep_disabled "n"

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed 300000
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_setspeed 300000
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/msm_thermal/parameters/enabled "n"
    start thermal-engine

on enable-low-power
    # disable thermal hotplug to switch governor
    write /sys/module/msm_thermal/core_control/enabled 0

    # enable adaptive lmk
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250

    # set sync wakee policy tunable
    write /proc/sys/kernel/sched_prefer_sync_wakee_to_waker 1

    # set minimum and maximum frequencies
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400

    # configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 50000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 30000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/alt_freq_eq 0
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/screen_off_max_freq 1593600

    # bring cpu2 online
    write /sys/devices/system/cpu/cpu2/online 1

    # configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/down_rate_limit_us 50000
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/up_rate_limit_us 30000
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/alt_freq_eq 0
    write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/screen_off_max_freq 2150400

    # re-enable thermal hotplug
    write /sys/module/msm_thermal/parameters/enabled 1

    # input boost config
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/smart_boost_enabled 1
    write /sys/module/cpu_boost/parameters/sb_damp_factor 10
    write /sys/module/cpu_boost/parameters/dsb_enabled 1
    write /sys/module/cpu_boost/parameters/max_boost_enabled 1
    write /sys/module/cpu_boost/parameters/mdss_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_freq_l 652800
    write /sys/module/cpu_boost/parameters/input_boost_freq_b 652800
    write /sys/module/cpu_boost/parameters/input_boost_ms 850
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost_ta 1
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost_fg 0
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost_ms 850

    # devfreq boost config
    write /sys/module/devfreq_boost/parameters/input_boost_enabled 1
    write /sys/module/devfreq_boost/parameters/max_boost_enabled 1
    write /sys/module/devfreq_boost/parameters/mdss_boost_enabled 1
    write /sys/module/devfreq_boost/parameters/mdss_timeout 5000

    # enable bus-dcvs
    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 762
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "1525 5195 11863 13763"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/io_percent 85
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/decay_rate 100
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/bw_step 50
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/down_thres 85
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_ceil_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_delay 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/idle_mbps 1600
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/screen_off_max_freq 13763

    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/ratio_ceil 400
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu2/ratio_ceil 400
    write /sys/class/devfreq/soc:qcom,mincpubw/governor "cpufreq"

    # enable all lpms (this will enable c4, d4, d3, e4 and m3 lpms)
    write /sys/module/lpm_levels/parameters/sleep_disabled "n"

    # set perfd properties
    setprop vendor.post_boot.parsed 1

on property:sys.boot_completed=1
    trigger enable-low-power

    # set i/o scheduler
    setprop sys.io.scheduler "cfq"

    # set read_ahead_kb to 128
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128

    # set entropy
    write /proc/sys/kernel/random/read_wakeup_threshold 128
    write /proc/sys/kernel/random/write_wakeup_threshold 1024

    # setup kcal color configuration
    write /sys/devices/platform/kcal_ctrl.0/kcal_min 35
    write /sys/devices/platform/kcal_ctrl.0/kcal_cont 260
    write /sys/devices/platform/kcal_ctrl.0/kcal_val 256
    write /sys/devices/platform/kcal_ctrl.0/kcal_hue 0
    write /sys/devices/platform/kcal_ctrl.0/kcal "245 246 256"
    write /sys/devices/platform/kcal_ctrl.0/kcal_enable 1
    write /sys/devices/platform/kcal_ctrl.0/kcal_sat 260

    # update cpusets now that boot is complete and we want better load balancing
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-1
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/restricted/cpus 0-3

    # reset schedtune 
    write /dev/stune/schedtune.boost 0
    write /dev/stune/schedtune.prefer_idle 0
    write /dev/stune/top-app/schedtune.boost 0
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/foreground/schedtune.boost 0
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/background/schedtune.boost 0
    write /dev/stune/background/schedtune.prefer_idle 0
    write /dev/stune/rt/schedtune.boost 0
    write /dev/stune/rt/schedtune.prefer_idle 0

on property:init.svc.recovery=running
    trigger enable-low-power

service charger /charger
    class charger
    group system graphics
    seclabel u:r:healthd:s0